{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":9},"end":{"row":4,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1411663273110,"hash":"1a5399d14b244d4b234907df3761e5cbe6cc774b"}