{% include 'main/base-nav.html'%}
<!--{% load staticfiles %}-->

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<h1>Polls</h1>

{% if latest_question_list %}
    {# create a table #}
    <table cellpadding="2" border="1">
        <tr>
            <th>Question</th>
            <th>Date Published</th>
        </tr>
    {% for question in latest_question_list %}
        <tr>
            <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
            <td>{{ question.pub_date }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No current polls are available.</p>
{% endif %}